.CoinFlip button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: darkgray;
  margin-top: 3em;
  transition: all 500ms;
}

.CoinFlip button:hover {
  background-color: darkblue;
}
