p {
  width: 100px;
  height: 50px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border: 2px solid black;
  margin-bottom: 100px;
  transform-origin: 0, 0;
}

.tatoed:hover {
  background-color: violet;
  transform: rotate(45deg);
}

.rotated:hover {
  background-color: orange;
  transform: rotate(-20deg);
}
